body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fafafa;
}

.restaurant-about-section {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    margin-top: 15vh; /* Adjust margin to avoid overlap with fixed navbar */
}

.restaurant-about-section h1 {
    margin-bottom: 15px;
    font-size: 2em;
    color: #333;
}

.restaurant-about-section p {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}

.restaurant-features-list {
    list-style: none;
    padding: 0;
}

.restaurant-features-list li {
    margin: 10px 0;
    font-size: 1em;
    color: #444;
}
